.app {
  display: flex;
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  justify-content: start;
  background-color: #ffffff;
  color: black;
}

.assistant-chat-container {
  flex-grow: 1;
  background-color: #013946;
  display: flex;
}



.logout-button {
  position: fixed;
  bottom: 48px;
  left: 32px;
  padding: 10px 20px;
  background-color: white;
  color: #003844;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.start-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 2rem;
  height: 3rem;
  background-color: #fec000;
  color: #003844;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.logout-button:hover {
  opacity: 0.8;
}

.logout-icon {
  height: 1em;
  width: auto;
  filter: invert(13%) sepia(18%) saturate(1247%) hue-rotate(173deg) brightness(87%) contrast(95%);
  margin-right: 0.2rem;
}